<html>

<head>
	<title>Bias Sorter</title>
	<link rel="stylesheet" href="static/pico.min.css">
	<link rel="stylesheet" href="static/style.css">
	<script src="https://unpkg.com/htmx.org@2.0.4"
		integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
		crossorigin="anonymous"></script>

</head>

<body>
	<header class=container>
		<h1>Bias Sorter</h1>
	</header>

	<nav class=container>
		<ul>
			<li>Create Quiz</li>
			<li>View Quizes</li>
		</ul>
	</nav>

	<main class=container>

		<h2>Create Quiz</h2>
		{{template "createQuizName" .}}

		{{template "createQuizAddEntry" .}}

		{{template "createQuizListOfEntries" .}}

	</main>

	<footer class=container>
		<p>Copyright 2025 PiNines</p>
	</footer>
</body>

</html>
