<html>

<head>
	<title>Bias Sorter</title>
	<link rel="stylesheet" href="static/pico.min.css">
	<link rel="stylesheet" href="static/style.css">
	<script src="https://unpkg.com/htmx.org@2.0.4"
		integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
		crossorigin="anonymous"></script>

</head>

<body>
	<header class=container>
		<h1>Bias Sorter</h1>
	</header>

	<nav class=container>
		<ul>
			<li>Create Quiz</li>
			<li>View Quizes</li>
		</ul>
	</nav>

	<main class=container>

		<form hx-boost="true" hx-patch="/add-quiz" hx-target="#quizList" action="/add-quiz" method="post">
			<label>Title</label>
			<input type="text" name="title">
			<br>
			<label>Description</label>
			<textarea name="description"></textarea>
			</br>
			<input type="submit" value="Submit">

		</form>

		<h2>Quizes</h2>
		<div id="quizList">
			{{block "quizes" .}}
			{{range .}}
			<article class=container>
				<h2>{{.Title}}</h2>
				<p>{{.Description}}</p>
			</article>
			{{end}}
		</div>
		{{end}}
	</main>

	<footer class=container>
		<p>Copyright 2025 PiNines</p>
	</footer>
</body>

</html>
