<head>
	<title>Bias Sorter</title>
	<link rel="stylesheet" href="static/pico.min.css">
	<link rel="stylesheet" href="static/style.css">
	<script src="https://unpkg.com/htmx.org@2.0.4"
		integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
		crossorigin="anonymous"></script>

</head>

<style>
	body {
		display: grid;
		place-items: center;
	}
</style>

<body>
	<div class="holder">
		<h1> Sign up </h1>
		<form class="centred" action=" /signup" method="post">
			<lable>Username: </lable><input type="text" name="username"><br>
			<lable>Password: </lable><input type="password" name="password"><br>
			<input type="submit" value="Login">
		</form>
	</div>
</body>


</html>
