<html>

<head>
	<title>Bias Sorter</title>
	<!--
	<link rel="stylesheet" href="static/pico.min.css">
	<link rel="stylesheet" href="static/style.css">
	-->
	<script src="https://unpkg.com/htmx.org@2.0.4"
		integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
		crossorigin="anonymous"></script>
</head>

<body>
	<header>
		<h1>Bias Sorter</h1>
	</header>
	<main>
		<h2>Quiz Name</h2>
		<div id="progress-bar"></div>
		<ul>
			<li id="option-a">Option A</li>
			<li id="option-b">Option B</li>
		</ul>
	</main>


	<footer>
		<p>Copyright 2025 PiNines</p>
	</footer>
</body>

</html>
